* {
  margin: 0;
  padding: 0;
  font-size: 60px;
  color: rgba(255, 51, 153, 0.8);
  font-variant: small-caps;
  font-family: monospace;
  cursor: pointer;
}

.force-inline {
  display: inline-block;
}

.pos-abs {
  position: absolute;
}

.spacer {
  width: 300px;
}